<div>
	<h4> Hive </h4>
	<div style="margin:10px 0 30px 0; padding:10px; background-color:#EEEEEE; border-radius:5px; font:12px Tahoma;">
		<span><b>Selected Node</b> : {{selected}}</span>
	</div>
	<h5> Databases </h5>
	<div class="tree">
		<ul>
			<li ng-repeat="d in hive">
				<div>
					<span id="{{d}}" ng-click="clicked(d)">
						<div ng-switch on="{{d}}">
							<div ng-switch-when=true>
								<img ng-src="css/png/glyphicons_142_database_minus.png"></img>
							</div>
							<div ng-switch-when=false>
								<img ng-src="css/png/glyphicons_141_database_plus.png"></img>
							</div>
						</div>
						{{d}}
					</span>
				</div>
			</li>
		</ul>
	</div>
</div>
